

<div  data-ng-controller="HeaderController">
	<div class="navbar-header">
		<a href="/#!/" class="navbar-brand">Development Menu</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="true">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="true" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="true" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
			</li>
		</ul>
	</nav>



<header>


  <section data-ng-controller="SidebarsController">
    <div class="slideout">
        <img src="http://i.imgur.com/4TIgz2h.png" alt="Instructor" height="60%" width="60%" />
        <div class="slideout_inner">
            Instructor Menu
            <div>
                <!-- this is the div for ui routing-->
                    {{test}}
                        <button data-ng-model="editGuardians" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"> Edit Guardians </button>
                    meow
                    {{editGuardians}}


            </div>
        </div>
    </div>
  </section>


    <div class="footer">
        <div class="footer-bar">
            <table style="width:91%;">
                <tr>
                    <td>
                        <div class="round-button">
                            <div class="round-button-circle">
                                <a data-ng-click="doTheBack()" class="round-button round-button-link">
                                    <i class="fa fa-chevron-left fa-4x"></i><!--javascript:history.go(-1)-->
                                </a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="round-button">
                            <div class="round-button-circle">
                                <a data-ng-click="goHome()" class="round-button round-button-link">
                                    <i class="fa fa-home fa-4x"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</header>
</div>
