
<section data-ng-controller="HomeController"  >
    <br><br><br>
    <img style="width: 10%" class="center-block" src="/modules/core/img/brand/favicon.png">
    <br /><br />
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="list-group half">
                <a class="list-group-item  home-buttons line-height" name="signoutButton" data-ng-href="#!/sign-out-list">
                    <h1 class="list-group-item-heading text-center">SIGN-OUT</h1>
                </a> 
            </div>
        </div>
        <div class="col-sm-4">
            <div class="list-group half">
                <a class="list-group-item home-buttons"  name="scheduleAbsenceButton" data-ng-href="#!/schedule-absence">
                    <h1 class="list-group-item-heading text-center">SCHEDULE<br/>ABSENCE</h1>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="list-group half">
                <a class="list-group-item  home-buttons" name="studentRecordsButton" data-ng-href="#!/children">
                    <h1 class="list-group-item-heading text-center">STUDENT<br/>RECORDS</h1>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="list-group half">
                <a class="list-group-item  home-buttons" data-ng-href="#!/calendar">
                    <h1 class="list-group-item-heading text-center">UPCOMING<br/>EVENTS</h1>
                </a>
            </div>
        </div>
    </div>
</section>