<section data-ng-controller="HomeController">
    <br><br><br>
    <div class="list-group half">
        <a class="list-group-item">
            <h1 class="list-group-item-heading text-center">SIGN<br/>OUT</h1>
        </a>
    </div>
    <div class="list-group half">
        <a class="list-group-item">
            <h1 class="list-group-item-heading text-center">SCHEDULE ABSENCE</h1>
        </a>
    </div>
    <div class="list-group half">
        <a class="list-group-item" data-ng-href="#!/children">
            <h1 class="list-group-item-heading text-center">STUDENT RECORDS</h1>
        </a>
    </div>
    <div class="list-group half">
        <a class="list-group-item">
            <h1 class="list-group-item-heading text-center">UPCOMING EVENTS</h1>
        </a>
    </div>
</section>