.content {
    margin-top: 50px;
}
.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.checkbox {

    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.half {
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    width: 100%;
    min-height: 105px;
    vertical-align: middle;
}

.line-height {
    padding-top: 29px;
    padding-bottom: 30px;
}

.form-container {
    padding: 25px;
}

.list-group {
    padding-right: 0px;
}
/* johns stuff */
.header {
    overflow: hidden;
}
.body {
    min-height: 100%;

}
.html {
    height: 100%;
}
.slideout {
    position: fixed;
    top: 30%;
    left: 0;
    width: 5%;
    padding: 12px 0;
    text-align: center;
    background: #666699;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    z-index: 99;
}
.slideout_inner {
    position: fixed;
    top: 0;
    left: -250px;
    background-image: url(http://i.imgur.com/xmu90PA.jpg);
    width: 250px;
    padding: 25px;
    height: 100%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
    color: #666699;
    text-align: center;
    font-family: sans-serif;
    font-size: 20;
    font-weight: 900;
    border-style: solid;
    border-right: solid #666699;
    border-left: none;
    border-top: none;
    border-bottom: none;
    z-index: 99;
}
.slideout:hover {
    left: 250px;
}
.slideout:hover .slideout_inner {
    left: 0;
}


.footer-bar {

    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;

    /* Height of the footer */
    background: #484848;
    overflow: hidden;


    /** add this **/
    -moz-box-sizing:border-box;
    /** add this **/
    -webkit-box-sizing:border-box;
    /** add this **/
    -ms-box-sizing:border-box;
    /** add this **/
    box-sizing:border-box;
}
.round-button {
    width:25%;
    padding-top: 1%;
    padding-left: 4%;
}
.round-button-circle {
    width: 4em;
    height:4em;
    border-radius: 50%;
    overflow:hidden;
    background: #666699;

}
.round-button-circle:hover {
    background:#30588e;
}
.round-button .round-button-link {
    padding-top:21%;
    padding-bottom:50%;
    margin-top:-0.5em;
    color:#e2eaf3;
}


.page-break { 
    padding-bottom: 15%;
}
.edit-create-form {
    padding-bottom: 30%;
}


/*CUSTOM BUTTON FOR PARENT CHECKOUT */
.checkout-btn {
    height: 50px;
    border: 1px solid black;
    margin-bottom: 15px;
}

.checkout-btn:hover {
    background-color: #666699;
    color: white;
}

/*CUSTOM BUTTON FOR DAY PICKER, FOR SCHEDULING STUDENTS ATTENDANCE*/
.btn-day {
    border: none;
    color: #ffffff;
    background-color: #75777A;
}

.btn-day:hover {
    background-color: #4b4d50;
}
.btn-day:focus,
.btn-day:active,
.btn-day.active,
.open .dropdown-toggle.btn-day {
    color: #ffffff;
    background-color: #115DBA;
    border-color: #FCFCFC;
}

.btn-day:active,
.btn-day.active,
.open .dropdown-toggle.btn-day {
    background-image: none;
}

.btn-day.disabled,
.btn-day[disabled],
fieldset[disabled] .btn-day,
.btn-day.disabled:hover,
.btn-day[disabled]:hover,
fieldset[disabled] .btn-day:hover,
.btn-day.disabled:focus,
.btn-day[disabled]:focus,
fieldset[disabled] .btn-day:focus,
.btn-day.disabled:active,
.btn-day[disabled]:active,
fieldset[disabled] .btn-day:active,
.btn-day.disabled.active,
.btn-day[disabled].active,
fieldset[disabled] .btn-day.active {
    background-image: none;
}

.btn-day .badge {
    color: #75777A;
    background-color: #ffffff;
}