<section data-ng-controller="ChildrenController as childFullProfile" data-ng-init="findOne()">
    <section data-ng-controller="GuardiansController as guardianCtrl" data-ng-init="find()">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-3">
                <h1>Checkout: {{child.firstName}} {{child.lastName}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
               <h3>Approved For Pickup:</h3>
                <br />
            </div>
        </div>
        <div class="row" ng-init = "selected">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="guardiansCheckOutButtons" data-ng-repeat="guardian in guardians" data-ng-if="guardian.childID == child._id" ng-init = "moreChillun = false">
                    <div class="btn checkout-btn col-sm-4 col-sm-offset-1" data-ng-href="#!/guardians/{{guardian._id}}" ng-click = "selected = guardian; moreChillun = true">
                        <span data-ng-bind="guardian.gName"></span>
                        <br />
                        <span data-ng-bind="guardian.rel"></span>
                        </br></br>
                        <div class = "btn btn-warning btn-sm" ng-show = "moreChillun" ng-click="moreChildren = true; moreChillun = false">
                                <i class="glyphicon glyphicon-user"></i> Do you want to check out other children?
                        </div>
                    </div>
                </div>
                <div class="alert alert-warning text-center" data-ng-hide="!guardians.$resolved || !guardianCtrl.hasGuardian(child._id,guardians)">
                    No Guardians yet, why don't you <a href="/#!/guardians/create">create one</a>?
                </div>
                <section data-ng-controller="ChildrenController as childrenCtrl" data-ng-init="find">
                    <div class = "ApprovedChildList" data-ng-repeat="child in children" data-ng-if="child._id == selected.childID" data-ng-hide="moreChildren">
                        <h1 class="list-group-item-heading text-center" data-ng-bind="child.firstName + ' ' + child.lastName"></h1>
                    </div>
                </section>
                <div class="page-break"></div>
            </div>
        </div>
    </section>
</section>

<!--href="#!/children/addGuardian/{{child._id}}"-->