<section data-ng-controller="ChildrenController as childFullProfile" data-ng-init="findOne()">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <h1 name="fullNameField">{{child.firstName}} {{child.lastName}}'s Profile</h1>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <h1><a class="btn btn-lg btn-day" data-ng-href="#!/"><span
                    class="fa fa-calendar"> Sign-Out Records</span></a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
            <h3>Birthdate:</h3>
        </div>
        <div class="col-sm-2">
            <h3 name="birthDateField"><i>{{child.dob.month}}/{{child.dob.day}}/{{child.dob.year}}</i></h3>
        </div>
        <div class="col-sm-2">
            <h3>
                <div class="btn-group">

                    <label class="btn btn-day btn-sm btn-danger" data-ng-model="child.enrolled"
                           btn-checkbox disabled>Status:</label>
                    <label class="btn btn-day btn-sm custom-date-btn" data-ng-model="child.enrolled"
                           btn-checkbox disabled><span data-ng-show="child.enrolled">Enrolled</span><span
                            data-ng-show="!child.enrolled">Canceled</span> </label>
                </div>
            </h3>
        </div>
        <div class="col-sm-4">
            <h3>
                <div class="pull-right" data-ng-show="true">
                    <a class="btn btn-primary" name="editChildButton" data-ng-click="childFullProfile.modalUpdate('lg', child)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" name="deleteChildButton" data-ng-click="remove(child);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>
                <h4>
                    Schedule:
                </h4>

                <div class="btn-group">
                    <label class="btn btn-day btn-lg custom-date-btn" data-ng-model="child.schedule.sun"
                           btn-checkbox disabled>Sunday</label>
                    <label class="btn btn-day btn-lg custom-date-btn" data-ng-model="child.schedule.mon"
                           btn-checkbox disabled>Monday</label>
                    <label class="btn btn-day btn-lg custom-date-btn" data-ng-model="child.schedule.tue"
                           btn-checkbox disabled>Tuesday</label>
                    <label class="btn btn-day btn-lg custom-date-btn" data-ng-model="child.schedule.wed"
                           btn-checkbox disabled>Wednesday</label>
                    <label class="btn btn-day btn-lg custom-date-btn" data-ng-model="child.schedule.thu"
                           btn-checkbox disabled>Thursday</label>
                    <label class="btn btn-day btn-lg custom-date-btn" data-ng-model="child.schedule.fri"
                           btn-checkbox disabled>Friday</label>
                    <label class="btn btn-day btn-lg custom-date-btn" data-ng-model="child.schedule.sat"
                           btn-checkbox disabled>Saturday</label>
                </div>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h2>Contact Information:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
            <h3>Home:</h3>
        </div>
        <div class="col-sm-3">
            <h3><i>{{child.contact.home}}</i></h3>
        </div>
        <div class="col-sm-2">
            <h3>Work:</h3>
        </div>
        <div class="col-sm-3">
            <h3><i>{{child.contact.work}}</i></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <hr/>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <h3>Email Address:</h3>
        </div>
        <div class="col-sm-3">
            <h3><i>{{child.contact.email}}</i></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <h3>Address:</h3>
        </div>
        <div class="col-sm-6">
            <h3><i>{{child.contact.address.street}}</i></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h2>Miscellaneous:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
            <h3>School:</h3>
        </div>
        <div class="col-sm-3">
            <h3><i>{{child.schoolName}}</i></h3>
        </div>
        <div class="col-sm-2">
            <h3>Uniform:</h3>
        </div>
        <div class="col-sm-3">
            <h3><i>{{child.size}}</i></h3>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <br/><br/>
        </div>
    </div>


    <!--EDIT & DELETE BUTTONS-->


    <div class="row">
        <div class="col-sm-6">
            <guardian-list></guardian-list>
        </div>
        <div class="col-sm-6">
            <h2>Allergies & Disabilities</h2>
        </div>
        <div class="list-group col-sm-10 col-sm-offset-1">

        <span data-ng-repeat="guardian in guardians" data-ng-onclick="#!/guardians/{{guardian._id}}"
              class="list-group-item" data-ng-if="guardian.childID == child._id">
            <small class="list-group-item-text">
                <div class="pull-right">

                    <a class="btn btn-primary btn-sm" data-ng-click="guardianCtrl.modalUpdate('lg', guardian)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" data-ng-click="guardianCtrl.remove(guardian);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>

            </small>
            <h3 class="list-group-item-heading" data-ng-bind="guardian.gName"></h3>
            <h4 data-ng-bind="guardian.rel"></h4>
        </span>
        </div>
    </div>
</section>

<!--href="#!/children/addGuardian/{{child._id}}"-->