::selection {
    background: rgba(0,0,0,.05);
}
ul, h1, h2, h3, h4 {
    margin: 0; padding: 0;
    list-style: none;
}
a, li,
.calHeader .calMonthSelect .calDate,
.calBody .calDate {
    text-decoration: none;
    transition: all .25s ease-in-out;
}
h1 {
    font: 300 28px 'Open Sans';
    color: #4c5373;
}



/****/
/* Calendar */
/****/
section.mounth {
    overflow: hidden;
    display: block;
    float: left;
    width: 420px; height: auto;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    border-radius: 5px;
}
.calHeader {
    position: relative;
    display: block;
    height: 80px;
    background: #e9eaf0;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.06);
}
.calHeader h1 {
    margin-left: 30px;
    line-height: 80px;
}
.calHeader .calMonthSelect {
    overflow: hidden;
    position: absolute;
    display: block;
    right: 30px; top: 30px;
}
.calHeader .calDate {
    display: block;
    float: left;
    width: 11px; height: 20px;
    margin-left: 30px;
    cursor: pointer;
    background: url('http://ysfu.net/sprite.png') no-repeat;
}
nav.calLeftArrow {
    background-position: -77px -4px;
}
nav.calLeftArrow:hover {
    background-position: -106px -4px;
}
nav.calRightArrow {
    background-position: -90px -4px;
}
nav.calRightArrow:hover {
    background-position: -119px -4px;
}

.calBody {padding: 6px 0 25px 25px}
.calBody b,
.calBody .calDate {
    display: block;
    float: left;
    width: 45px; height: 45px;
    margin: 4px;
    text-align: center;
}
.calBody b {
    font: 600 16px/45px 'Open Sans';
    color: #91d9ff;
}
.calBody .calDate {
    font: 300 19px/45px 'Open Sans';
    color: #4c5373;
    box-shadow: inset 0 0 1px 1px #d9dce5;
    border-radius: 2px;
    cursor: pointer;
}
.calBody .calDate.disable {
    color: #b6bacc;
    box-shadow: inset 0 0 1px 1px #f3f4f7;
}
.calBody .calDate:not(.disable):hover {
    background: #cdd0dd;
    box-shadow:
    inset 0 0 1px 1px #d9dce5,
    0 1px 3px -1px #cdd0dd;
}
.calBody .calDate:not(.disable):active {
    background: #b9becf;
    box-shadow:
    inset 0 1px 2px rgba(0,0,0,.18),
    0 0 0 #cdd0dd;
}
.calBody .calDate.active,
.calBody .calDate.active:hover,
.calBody .calDate.active:active {
    color: #fff;
    box-shadow:
    inset 0 0 1px 1px #ff8263,
    0 1px 3px -1px #ff8263;
    background: #ff8263;
}
.calBody .calDates .calDays {
    display: block;
    overflow: hidden;
    clear: both;
}