<head>
    <link rel="stylesheet" href="advents/css/calender.css">
</head>
<section data-ng-controller="AdventsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Advents</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="advent in advents" data-ng-href="#!/advents/{{advent._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="advent.created | date:'medium'"></span>
				by
				<span data-ng-bind="advent.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="advent.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!advents.$resolved || advents.length">
    	No Advents yet, why don't you <a href="/#!/advents/create">create one</a>?
    </div>
    <nav role='navigation' class="sections">
  <ul>
    <li class="notes"><a href="#"></a></li>
    <li class="calendar active"><a href="#"></a></li>
    <li class="settings"><a href="#"></a></li>
  </ul>
</nav>

<section class="mounth" id="january">
  <header>
    <h1>JANUARY 2013</h1>
    <nav role='padigation'>
      <span></span>
      <span></span>
    </nav>
  </header>

  <article>
    <div class="days">
      <b>SU</b>
      <b>MO</b>
      <b>TU</b>
      <b>WE</b>
      <b>TH</b>
      <b>FR</b>
      <b>SA</b>
    </div>
    <div class="dates">
      <span class="disable">30</span>
      <span class="disable">31</span>
      
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span>6</span>
      <span>7</span>
      <span>8</span>
      <span>9</span>
      <span>10</span>
      <span>11</span>
      <span>12</span>
      <span>13</span>
      <span>14</span>
      <span>15</span>
      <span class="active">16</span>
      <span>17</span>
      <span>18</span>
      <span>19</span>
      <span>20</span>
      <span>21</span>
      <span>22</span>
      <span>23</span>
      <span>24</span>
      <span>25</span>
      <span>26</span>
      <span>27</span>
      <span>28</span>
      <span>29</span>
      <span>30</span>
      <span>31</span>
      
      <span class="disable">1</span>
      <span class="disable">2</span>
      <span class="disable">3</span>
      <span class="disable">4</span>
      <span class="disable">5</span>
      <span class="disable">6</span>
      <span class="disable">7</span>
      <span class="disable">8</span>
      <span class="disable">9</span>
    </div>
  </article>
</section>
</section>