<section data-ng-controller="AdventsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Advents</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="advent in advents" data-ng-href="#!/advents/{{advent._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="advent.created | date:'medium'"></span>
				by
				<span data-ng-bind="advent.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="advent.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!advents.$resolved || advents.length">
    	No Advents yet, why don't you <a href="/#!/advents/create">create one</a>?
    </div>
</section>