<section data-ng-controller="AdventsAttendModalController as modalWindowAdvent" data-ng-init="init(advent._id)">
    <div class="page-header">
        <h1 data-ng-bind="advent.name"></h1>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    Description:
                    <span class="text-muted" data-ng-bind="advent.description"></span>
                    <br />
                    DEBUG: Advent ID {{advent._id}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    Date:
                    <span class="text-muted" data-ng-bind="advent.date.month"></span>/<span class="text-muted"
                                                                                            data-ng-bind="advent.date.day"></span>/<span
                        class="text-muted" data-ng-bind="advent.date.year"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="pull-right">
        <a class="btn btn-primary" href="/#!/advents/{{advent._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="advent.created | date:'mediumDate'"></span>
        </em>
    </small>
    <br />
    <div data-ng-repeat="child in children | filter: { enrolled: true } | orderBy: 'lastName'">
        <h3>{{child.firstName}} {{child.lastName}}</h3>
        <button type="button" class="btn btn-primary" ng-model="child.attending" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" data-ng-click="modalWindowAdvent.processEvent(child, advent)">
            <p data-ng-show="child.attending">Attending</p>
            <p data-ng-show="!child.attending">Not Attending</p>
        </button>
        <br />
    </div>
</section>
