<section data-ng-controller="AdventsAttendModalController">
    <div class="page-header">
        {{children}}
        <br/>
        <br/>
        {{attendances}}
        <h1 data-ng-bind="advent.name"></h1>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    Description
                    <span class="text-muted" data-ng-bind="advent.description"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    Date:
                    <span class="text-muted" data-ng-bind="advent.date.month"></span>/<span class="text-muted"
                                                                                            data-ng-bind="advent.date.day"></span>/<span
                        class="text-muted" data-ng-bind="advent.date.year"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="pull-right">
        <a class="btn btn-primary" href="/#!/advents/{{advent._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="advent.created | date:'mediumDate'"></span>
        </em>
    </small>
</section>
<label class="btn btn-day btn-lg custom-date-btn " ng-click="">Add Child Attendance</label>
	