  /*
body {
  display: flex;
  background: #fff;
  height: 100vh;
  width: 100vw;
}

.button {
  display: inline-block;
  margin: auto;
  width: 400px;
  height: 80px;
  border: none;
  background: #1abc9c;
  position: relative;
  overflow: hidden;

  &:before {
      content: '';
      background: darken(#1abc9c, 10%);
      width: 800px;
      height: 600px;
      position: absolute;
      transform: translate(-1000px,-400px) rotate(130deg);
      transition: all 700ms ease;
  }
  &:after {
    content: attr(data-word);
    color: white;
    font-size: 2em;
    position: relative;
    z-index: 100;
    transition: all 200ms ease;
    font-weight: 200;
  }
  
  &:hover {
    &:after {
      font-size: 2.2em;
    }
    &:before {
      transform: translate(-200px,-400px) rotate(130deg);
    }
  }
  */
}