<section data-ng-controller="GuardiansController as guardianCtrl" data-ng-init="find()">
	<div class="guardiansCheckOutButtons" data-ng-repeat="guardian in guardians" data-ng-if="guardian.childID == child._id">
		<div class="btn checkout-btn col-sm-4 col-sm-offset-1" data-ng-href="#!/guardians/{{guardian._id}}">
			<span data-ng-bind="guardian.gName"></span>
			<br />
			<span data-ng-bind="guardian.rel"></span>
		</div>
	</div>
	<div class="alert alert-warning text-center" data-ng-hide="!guardians.$resolved || guardians.length">
		No Guardians yet, why don't you <a href="/#!/guardians/create">create one</a>?
	</div>
	<div class="page-break"></div>
</section>