<section data-ng-controller="GuardiansController as guardianCtrl" data-ng-init="findOne()">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="page-header">
				<h1 data-ng-bind="guardian.gName"></h1>
				<h3>Relationship:</h3><h4 data-ng-bind="guardian.rel"></h4>
			</div>
			<div class="pull-right">
				<a class="btn btn-primary btn-lg" name="updateParentButton" data-ng-click="guardianCtrl.modalUpdate('lg', guardian)">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-primary btn-lg" name="deleteParentButton" data-ng-click="remove();">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</div>
		</div>
	</div>
</section>
