<!--<section data-ng-controller="CalendarController">-->
<section data-ng-controller="AdventsController" data-ng-init="find()">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-1">
			<h1>Calendar Demo</h1>
		</div>
		<div class="col-sm-2">
			<br /><br />BUTTON
		</div>
		<div class="col-sm-5">
			<br /><br /><span>Selected date: <b>{{day.format('dddd MMMM D YYYY')}}</b></span>
		</div>
	</div>
	<div class = "row">
		<div class = "col-sm-6 col-sm-offset-1">
			<calendar selected="day"></calendar>
		</div>
		<div class = "col-sm-5">
			<div class="list-group">
		        <a data-ng-repeat="advent in advents" onclick="console.log('ho');" data-ng-href="#!/advents/{{advent._id}}" data-ng-if="day.format('MM') == advent.date.month && day.format('D') == advent.date.day && day.format('YYYY') == advent.date.year" class="list-group-item">
		            <h1 class="list-group-item-heading text-center" data-ng-bind="advent.name"></h1>
		        </a>
    		</div>
		</div>
	</div>
</section>
<!-- data-ng-if="guardian.childID == child._id" 

	<div class="list-group">
				<a data-ng-repeat="advent in advents" data-ng-href="#!/advents/{{advent._id}}" class="list-group-item">
					<small class="list-group-item-text">
						Posted on
						<span data-ng-bind="advent.created | date:'medium'"></span>
						by
						<span data-ng-bind="advent.user.displayName"></span>
					</small>
					<h4 class="list-group-item-heading" data-ng-bind="advent.name"></h4>
				</a>
			</div>
-->