<section data-ng-controller="EventsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Events</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="event in events" data-ng-href="#!/events/{{event._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="event.created | date:'medium'"></span>
				by
				<span data-ng-bind="event.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="event.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!events.$resolved || events.length">
    	No Events yet, why don't you <a href="/#!/events/create">create one</a>?
    </div>
</section>