<section data-ng-controller="AttendancesUpdateController as AttendancesCtrl" data-ng-init="findOne()">
<div class="modal-header">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-0">
            <h3>{{attendance.childName}} - {{attendance.date.month}}/{{attendance.date.day}}/{{attendance.date.year}}</h3>
        </div>
    </div>
</div>

<div class="modal-body row">
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
        <fieldset>
            <div class="form-group">

                <div class="row text-center">
                    <div class="col-sm-5 col-sm-offset-3">
                    <button type="button" class="btn btn-sm"
                            ng-class="{'btn-success': attendance.attended, 'btn-danger': !attendance.attended}"
                            ng-model="attendance.attended" btn-checkbox
                            btn-checkbox-true="true" btn-checkbox-false="false"
                            ng-disabled="button">
                        <p data-ng-show="attendance.attended">Present</p>
                        <p data-ng-show="!attendance.attended">Absent</p>
                    </button>
                        </div>
                </div>

                <br />

                <div class="row text-center" data-ng-hide="attendance.attended">
                    <div class="col-sm-5 col-sm-offset-3">
                    <button type="button" class="btn btn-sm"
                            ng-class="{'btn-primary': attendance.scheduledAbsent, 'btn-danger': !attendance.scheduledAbsent}"
                            ng-model="attendance.scheduledAbsent" btn-checkbox
                            btn-checkbox-true="true" btn-checkbox-false="false"
                            ng-disabled="button">
                        <p data-ng-show="attendance.scheduledAbsent">Scheduled</p>
                        <p data-ng-show="!attendance.scheduledAbsent">Unscheduled</p>

                    </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="row">
    <div class="modal-footer">
        <div class="col-sm-4 col-sm-offset-8">
            <button class="btn btn-success btn-sm" name="confirmButton" ng-click="AttendancesCtrl.update(attendance); ok()">Update</button>
            <button class="btn btn-warning btn-sm" name="cancelButton" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>
<br/><br/><br/>
</section>