<section data-ng-controller="AttendancesController" data-ng-init="findChild()">
    <div class="page-header col-sm-6 col-sm-offset-1">
        <h1 id="page-title">Which Day will {{child.firstName}} {{child.lastName}} be absent?</h1>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
        <form class="form-horizontal" data-ng-submit="createAbsence()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                        <input type="hidden" name="childID" data-ng-model="childID" id="childID" class="form-control"
                               value="{{child._id}}" required>
                    </div>

                    <div class="controls">
                        <input type="hidden" name="childName" data-ng-model="childName" id="childName"
                               class="form-control" value="{{child.firstName}} {{child.lastName}}" required>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <label class="control-label" for="guardian">Select Date</label>

                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt"
                                       is-open="openedPicker" min-date="minDate" max-date="'2020-06-22'"
                                       datepicker-options="dateOptions" date-disabled="disabledPicker(date, mode)"
                                       ng-required="true" close-text="Close"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openPicker($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                        </div>


                        <div class="col-sm-5">
                            <div class="controls">
                                <input type="hidden" name="scheduledAbsent" data-ng-model="attendance.scheduledAbsent"
                                       id="scheduledAbsent"
                                       class="checkbox" value="true">
                            </div>
                        </div>
                        <div class=" col-sm-6">
                            <label class="control-label" for="guardian">Sign-Out Guardian</label>

                            <div class="controls">
                                <select type="text" name="guardian" data-ng-model="guardian" id="guardian"
                                        class="form-control" required>
                                    <option data-ng-repeat="guardian in guardians">{{guardian}}</option>
                                </select>
                            </div>
                        </div>


                    </div>
                    <div class=" col-sm-6">
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-default">
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </div>
            </fieldset>
        </form>
    </div>
</section>