<section data-ng-controller="AttendancesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="attendance.name"></h1>

	</div>
    <div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <h3><i>{{attendance.date.month}}/{{attendance.date.day}}/{{attendance.date.year}}</i></h3>
                <h4 name="childName">{{attendance.childName}}</h4>
            </div>
        </div>
        <h3>
            <div class="pull-right" data-ng-show="true">
                <a class="btn btn-danger" name="deleteAttendaceButton" data-ng-click="remove(attendance);">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </h3>
    </div>


</section>
