<section data-ng-controller="AttendancesController as AttController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="attendance.name"></h1>

	</div>
    <div>
        <!-- Shown on signout -->
        <div class="row" data-ng-show="attendance.attended">
            <div class="col-sm-5 col-sm-offset-3">
                <h1 name="childName">
                    <span >Successfully Signed Out</span> {{attendance.childName}}
                </h1>
                <h2 name="date">On {{attendance.date.month}}/{{attendance.date.day}}/{{attendance.date.year}} at
                    <span data-ng-show="!attendance.signout.time" data-ng-hide="attendance.scheduleAbsent"><i>{{time}}</i></span>
                    <span data-ng-show="attendance.signout.time" data-ng-init="AttController.getProperTime(attendance.signout.time)">{{time}}</span>
                </h2>
            </div>
        </div>

        <!-- Shown on scheduling absence -->
        <div class="row" data-ng-show="attendance.scheduledAbsent">
            <div class="col-sm-5 col-sm-offset-3">
                <h1 name="childName">
                    <span>Successfully Scheduled Absence for</span> {{attendance.childName}}
                </h1>
                <h2 name="date">
                    On {{attendance.date.month}}/{{attendance.date.day}}/{{attendance.date.year}}
                </h2>
            </div>
        </div>

        <!-- Edit/Delete buttons, functional but hidden -->
        <div class="pull-right" data-ng-show="false">
            <a class="btn btn-primary" name="editAttendanceButton" data-ng-click="AttController.modalUpdate('lg', attendance)">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-danger" name="deleteAttendaceButton" data-ng-click="remove(attendance);">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
    </div>


</section>
