<section data-ng-controller="MedicalsUpdateController as medicalUpCtrl">
    <div class="modal-header">
        <h3 class="modal-title">Update {{medicalUpCtrl.type}} for {{child.firstName}}</h3>
    </div>
    <div class="modal-body row">
        <div class="col-sm-8 col-sm-offset-2">
            <form>
                <fieldset>
                    <div class="form-group">
                        <label class="control-label" for="name">Listed As:</label>
                        <div class="controls">
                            <input type="text" data-ng-model="medical.name" id="name" class="form-control" placeholder="Name" required>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="type">Type:</label>
                            <div class="controls">
                                <select class="btn btn-default btn-lg" id="type" data-ng-model="medical.type" ng-options="medicalType for medicalType in medicalTypes"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="desc">Description</label>
                            <div class="controls">
                                <textarea type="text" name="desc" data-ng-model="medical.desc" id="desc" class="form-control" placeholder="Enter a brief description"></textarea>
                            </div>
                        <div class="controls">
                            <input type="text" data-ng-model="medical.childID" id="childID" class="form-control" placeholder="childID" required>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="modal-footer">
            <div class="col-sm-4 col-sm-offset-8">
                <button class="btn btn-success btn-lg" name="confirmButton" ng-click="medicalUpCtrl.update(medical); ok()">Update</button>
                <button class="btn btn-warning btn-lg" name="cancelButton" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>

    <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
    </div>
</section>
