<section data-ng-controller="MedicalsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Medicals</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="medical in medicals" data-ng-href="#!/medicals/{{medical._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="medical.created | date:'medium'"></span>
				by
				<span data-ng-bind="medical.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="medical.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!medicals.$resolved || medicals.length">
    	No Medicals yet, why don't you <a href="/#!/medicals/create">create one</a>?
    </div>
</section>