<section data-ng-controller="MedicalsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="medical.name"></h1>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/medicals/{{medical._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="medical.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="medical.user.displayName"></span>
		</em>
	</small>
</section>
