<section data-ng-controller="MedicalsController as medicalCtrl" data-ng-init="find()">

    {{allergies}}
    {{disabilities}}
    {{others}}
    <div class="col-sm-7 col-sm-offset-1">
        <div class="">
            <h1>Allergies & Disabilities</h1>
        </div>
    </div>
    <div class="col-sm-4">
        <h1>
            <a class="btn btn-warning btn-sm" name="createMedicalButton" data-ng-click="medicalCtrl.modalCreate('lg', child)">
                <i class="glyphicon glyphicon-user"></i> Add Information
            </a>
        </h1>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
        <div class="">
            <h3>Allergies:</h3>
        </div>
    </div>
    <div class="list-group col-sm-10 col-sm-offset-1">
        <span data-ng-repeat="medical in medicals | filter: {type: 'Allergy'}" data-ng-onclick="#!/medical/{{medical._id}}" class="list-group-item" data-ng-if="medical.childID == child._id && medical.type == 'Allergy'" >
			<small class="list-group-item-text">
                <div class="pull-right">

                    <a class="btn btn-primary btn-sm" name="updateMedicalButton" data-ng-click="medicalCtrl.modalUpdate('lg', medical)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" name="deleteMedicalButton" data-ng-click="medicalCtrl.remove(medical);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>

            </small>
            <h3 class="list-group-item-heading" name="medicalNameField" data-ng-bind="medical.name"></h3>
            <h4 data-ng-bind="guardian.rel"> </h4>
        </span>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
        <div class="">
            <h3>Disabilities:</h3>
        </div>
    </div>
    <div class="list-group col-sm-10 col-sm-offset-1">
        <span data-ng-repeat="medical in medicals | filter: {type: 'Disability'}" data-ng-onclick="#!/medical/{{medical._id}}" class="list-group-item" data-ng-if="medical.childID == child._id && medical.type == 'Disability'" >
			<small class="list-group-item-text">
                <div class="pull-right">

                    <a class="btn btn-primary btn-sm" name="updateMedicalButton" data-ng-click="medicalCtrl.modalUpdate('lg', medical)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" name="deleteMedicalButton" data-ng-click="medicalCtrl.remove(medical);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>

            </small>
            <h3 class="list-group-item-heading" name="medicalNameField" data-ng-bind="medical.name"></h3>
            <h4 data-ng-bind="guardian.rel"> </h4>
        </span>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
        <div class="">
            <h3>Others:</h3>
        </div>
    </div>
    <div class="list-group col-sm-10 col-sm-offset-1">
        <!--data-ng-if="medical.childID == child._id"-->
        <span data-ng-repeat="medical in medicals | filter: filterFunction" data-ng-onclick="#!/medical/{{medical._id}}" class="list-group-item" data-ng-if="medical.childID == child._id" >
			<small class="list-group-item-text">
                <div class="pull-right">

                    <a class="btn btn-primary btn-sm" name="updateMedicalButton" data-ng-click="medicalCtrl.modalUpdate('lg', medical)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" name="deleteMedicalButton" data-ng-click="medicalCtrl.remove(medical);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>

            </small>
            <h3 class="list-group-item-heading" name="medicalNameField" data-ng-bind="medical.name"></h3>
            <h4 data-ng-bind="guardian.rel"> </h4>
        </span>
    </div>
    <div class="alert alert-warning text-center col-sm-10 col-sm-offset-1" data-ng-hide="!medicals.$resolved || medicals.length">
        <br />This child has no disabilities or allergies listed
    </div>
    <div class="page-break"></div>
</section>